<%= render "application/flash_messages" %>

<div class="container mx-auto ">
  <div class="flex flex-row gap-4">
    <h1 class="text-3xl font-bold mb-6 text-gray-800">Categories</h1>
    <div class=" items-center mb-4">
    <%= link_to "New Category", new_category_path, class: "bg-blue-500 text-white p-4 rounded hover:bg-blue-600 transition duration-200" %>
    </div>
  </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <ul class="space-y-4 w-fit">
      <%= render @categories %>
    </ul>
  </div>
</div>



